html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

.div-header {
	margin: 0 auto;
	padding-top: 2em;
	position: relative;
	margin: 0;
}

header {
	background-color: #cc2931;
	text-align: center;

}

.medallion {
	width: 165px;
	position: relative;
	left: 10px;
	top: 55px;
	text-align: center;
	margin: 0 auto;
}

h1 {
	margin: 0;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 4em;
	position: relative;
	left: 10px;
	bottom: 80px;
	text-shadow: #222 2px 3px 4px;
}

h2 {
	margin: 0;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
	position: relative;
	left: 10px;
	bottom: 80px;
	text-shadow: #222 2px 3px 4px;
}





.div-nav {
	background-color: #222;
	padding-bottom: 0;
}

nav ol {
	color: white;
	font-size: 1.25em;
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	overflow: hidden;
}

a {
	width: 100%;
	text-decoration: none;
}

a:hover {
	background-color: #000;
}


nav li {
	float: left;
	display: block;
	list-style: none;
	width: 50%;
	border: solid 1px #000;
}


.h3-title {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	width: 100%;
	margin: 0 auto;
	position: absolute;
	left: 0px;
	text-align: center;
	bottom: 150px;
	font-size: 3em;
	text-shadow: #222 2px 4px 3px;
	padding: 0;
}

.banner-img {
	display: block;
	width: 100%;
	position: relative;
}

.banner {
	width: 100%;
	position: relative;
}

.first {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	margin-bottom: 1em;
}



.h4-title {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	margin: 0 auto;
	position: relative;
	text-align: center;
	font-size: 1.5em;
	padding-top: 1em;
}


.div-dragon {
	background-color: #e3c236;
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 2rem;
}


.dragon-symbol {
	width: 20%;
	position: relative;
	left: 175px;
}

.dragon-svg {
	width: 20%;
	position: relative;
	left: 300px;
}

.p-dragon {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	font-size: 0.75em;
	text-align: center;
	font-style: italic;
}




.h4-goat, .h4-rooster {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
	margin: 0;
	padding-top: 1.5em
}

.div-goat {
	background-color: #222;
	padding-bottom: 2rem;
}

.goat-symbol {
	width: 20%;
	position: relative;
	left: 300px;
}

.goat-svg {
	width: 20%;
	position: relative;
	left: 175px;
}

.p-goat, .p-rooster {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	font-size: 0.75em;
	text-align: center;
	font-style: italic;
}




.div-rooster {
	background-color: #bc242a;
	padding-bottom: 2rem;
	font-family: 'Open Sans', sans-serif;
}

.rooster-symbol {
	width: 20%;
	position: relative;
	left: 175px;
}

.rooster-svg {
	width: 20%;
	position: relative;
	left: 300px;
}




.div-ox {
	background-color: #e3c236;
	font-family: 'Open Sans', sans-serif;
}

.ox-svg {
	width: 20%;
	position: relative;
	left: 175px;
}

.ox-symbol {
	width: 20%;
	position: relative;
	left: 300px;
}

.p-ox {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	font-size: 0.75em;
	text-align: center;
	font-style: italic;
	padding-bottom: 1em;
}




footer {
	background-color: #222;
	padding: 1rem;
}

p {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	margin: 0;
	padding: 0;
}

a {
	color: #fff;
}

.link {
	text-decoration: underline;
}
